<%= form_with(model: admin_category, class: "contents space-y-6") do |form| %>
  <% if admin_category.errors.any? %>
    <div id="error_explanation" class="bg-red-50 border border-red-300 text-red-600 px-4 py-3 rounded-md">
      <h2 class="font-semibold mb-2"><%= pluralize(admin_category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul class="list-disc pl-5">
        <% admin_category.errors.each do |error| %>
          <li class="text-sm"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
    <%= form.text_field :name, class: "mt-2 block w-full rounded-md border px-3 py-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 #{admin_category.errors[:name].any? ? 'border-red-500' : 'border-gray-300'}" %>
  </div>

  <div>
    <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
    <%= form.textarea :description, rows: 4, class: "mt-2 block w-full rounded-md border px-3 py-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 #{admin_category.errors[:description].any? ? 'border-red-500' : 'border-gray-300'}" %>
  </div>

  <div>
    <%= form.label :image, class: "block text-sm font-medium text-gray-700" %>
    <%= form.file_field :image, rows: 4, class: "mt-2 block w-full rounded-md border px-3 py-2 shadow-sm focus:ring-blue-500 focus:border-blue-500 #{admin_category.errors[:description].any? ? 'border-red-500' : 'border-gray-300'}" %>
  </div>

  <div class="flex justify-end">
    <%= form.submit "Save Category", class: "px-5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium rounded-md transition duration-200" %>
  </div>
<% end %>
