<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ecommerce Ror" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  </head>

  <body>
    <main class="flex">
      <nav class="flex">
        <div class="w-64 h-screen bg-gray-600 sticky top-0">
          <div class="flex">
          <div class="w-5 h-auto m-5 items-center">
           <%= image_tag "logo.png", alt: 'Logo', class:'w-7 h-auto mx-2 object-fit'%>
          </div>
         
            <h1 class="text-md py-2 text-gray-50 font-bold hidden md:block">Ecommerce app</h1>
          </div>
          <ul class="flex flex-col text-gray-50">
            <li>
              <%= link_to admin_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'gauge-high') %>
                <span>Dashboard</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'cart-shopping') %>
                <span>Products</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_categories_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'list') %>
                <span>Categories</span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
                <%= icon('fa-solid', 'truck-fast') %>
                <span>Orders</span>
              <% end %>
            </li>
          </ul>
        </div>
      </nav>
      <div class="p-8 w-full">
      <%= yield %>
      </div>
      
    </main>
  </body>
</html>